<div class="container-fluid">
  <footer class="bg-body-tertiary text-center text-lg-start fixed-bottom">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      &copy; 2024 NotesApp. All rights reserved.
    </div>
    <!-- Copyright -->
  </footer>
</div>